<a href="https://colab.research.google.com/github/bheemojuswathi21/Medha_Projects/blob/main/bank_project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install sqlite3
!pip install pandas

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 2 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,874 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.5 [769 kB]
Fetched 769 kB in 1s (653 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 117540 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.5_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.5) ...
Setting up sqlite3 (3.37.2-2ubuntu0.5) ...
Processing triggers for man-db (2.10.2-1) ...
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
conn = sqlite3.connect("my_database.db")

In [ ]:
#Define the correct path for the database
db_path = "/content/drive/MyDrive/Bank "

In [ ]:
db_folder = "/content/drive/MyDrive/sqldb folder "
os.makedirs(db_folder, exist_ok=True) #Ensure the folder exists
db_path = os.path.join(db_folder, "my_database.db") #database name
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
print("Database connected at:", db_path)

Database connected at: /content/drive/MyDrive/sqldb folder /my_database.db

**Bank customer**

In [ ]:
cursor.execute('''
CREATE TABLE Bank_Customer(customer_id INT ,
              customer_name VARCHAR(20),
              Address  VARCHAR(20),
              state_code VARCHAR(3) ,
              Telephone VARCHAR(10) );
''' )
conn.commit()

In [ ]:
def insert_Bank_Customer(customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO Bank_Customer(customer_id,customer_name,Address,state_code,Telephone)VALUES(?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()

In [ ]:
insert_Bank_Customer(123001,"Oliver", "225-5, Emeryville", "CA" , "1897614500")
insert_Bank_Customer(123002,"George", "194-6,New brighton","MN" , "1897617000")
insert_Bank_Customer(123003,"Harry", "2909-5,walnut creek","CA" , "1897617866")
insert_Bank_Customer(123004,"Jack", "229-5, Concord",  	"CA" , "1897627999")
insert_Bank_Customer(123005,"Jacob", "325-7, Mission Dist","SFO", "1897637000")
insert_Bank_Customer(123006,"Noah", "275-9, saint-paul" ,  "MN" , "1897613200")
insert_Bank_Customer(123007,"Charlie","125-1,Richfield",   "MN" , "1897617666")
insert_Bank_Customer(123008,"Robin","3005-1,Heathrow", 	"NY" , "1897614000");

In [ ]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.12/dist-packages (0.9.0)

In [ ]:
from tabulate import tabulate

In [ ]:
#fetch data
cursor.execute('select * from Bank_Customer')
rows=cursor.fetchall()
#get column names
column_names=[desc[0] for desc in cursor.description]
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |  1897617000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+

**Bank_customer_export**

In [ ]:
cursor.execute('''
CREATE TABLE Bank_CUST_Export(customer_id INT ,
              customer_name VARCHAR(20),
              Address  VARCHAR(20),
              state_code VARCHAR(3) ,
              Telephone VARCHAR(10) );
''' )
conn.commit()

In [ ]:
def insert_Bank_CUST_Export(customer_id,customer_name,Address,state_code,Telephone):
  cursor.execute("INSERT INTO Bank_CUST_Export(customer_id,customer_name,Address,state_code,Telephone)VALUES(?,?,?,?,?)",(customer_id,customer_name,Address,state_code,Telephone))
  conn.commit()

In [ ]:
 insert_Bank_CUST_Export("123001 ","Oliver", "225-5, Emeryville", "CA" , "1897614500")
 insert_Bank_CUST_Export("123002 ","George", "194-6,New brighton","MN" , "189761700")
 insert_Bank_CUST_Export("123003 ","Harry", "2909-5,walnut creek","CA" , "1897617866")
 insert_Bank_CUST_Export("123004 ","Jack", "229-5, Concord",  	"CA" , "1897627999")
 insert_Bank_CUST_Export("123005 ","Jacob", "325-7, Mission Dist","SFO", "1897637000")
 insert_Bank_CUST_Export("123006 ","Noah", "275-9, saint-paul" ,  "MN" , "1897613200")
 insert_Bank_CUST_Export("123007 ","Charlie","125-1,Richfield",   "MN" , "1897617666")
 insert_Bank_CUST_Export("123008 ","Robin","3005-1,Heathrow", 	"NY" , "1897614000")
 insert_Bank_CUST_Export("123009 ","Oliver", "225-5, Emeryville", "CA" , "1897614500")
 insert_Bank_CUST_Export("123010 ","George", "194-6,New brighton","MN" , "189761700")
 insert_Bank_CUST_Export("123011 ","Harry", "2909-5,walnut creek","CA" , "1897617866")
 insert_Bank_CUST_Export("123012", "Sophia", "78-9, Brooklyn", "NY", "1897618000")
 insert_Bank_CUST_Export("123013", "Emma", "16-2, Fremont", "CA", "1897619000");

In [ ]:
#fetch data
cursor.execute('select * from Bank_CUST_Export')
rows=cursor.fetchall()
#get column names
column_names=[desc[0] for desc in cursor.description]
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+---------------+-----------------+---------------------+--------------+-------------+
|   customer_id | customer_name   | Address             | state_code   |   Telephone |
+===============+=================+=====================+==============+=============+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |   189761700 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123009 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123010 | George          | 194-6,New brighton  | MN           |   189761700 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123011 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123012 | Sophia          | 78-9, Brooklyn      | NY           |  1897618000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123013 | Emma            | 16-2, Fremont       | CA           |  1897619000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |   189761700 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123009 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123010 | George          | 194-6,New brighton  | MN           |   189761700 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123011 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123012 | Sophia          | 78-9, Brooklyn      | NY           |  1897618000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123013 | Emma            | 16-2, Fremont       | CA           |  1897619000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123001 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123002 | George          | 194-6,New brighton  | MN           |   189761700 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123003 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123004 | Jack            | 229-5, Concord      | CA           |  1897627999 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123005 | Jacob           | 325-7, Mission Dist | SFO          |  1897637000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123006 | Noah            | 275-9, saint-paul   | MN           |  1897613200 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123007 | Charlie         | 125-1,Richfield     | MN           |  1897617666 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123008 | Robin           | 3005-1,Heathrow     | NY           |  1897614000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123009 | Oliver          | 225-5, Emeryville   | CA           |  1897614500 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123010 | George          | 194-6,New brighton  | MN           |   189761700 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123011 | Harry           | 2909-5,walnut creek | CA           |  1897617866 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123012 | Sophia          | 78-9, Brooklyn      | NY           |  1897618000 |
+---------------+-----------------+---------------------+--------------+-------------+
|        123013 | Emma            | 16-2, Fremont       | CA           |  1897619000 |
+---------------+-----------------+---------------------+--------------+-------------+

**Bank_Account_Details**

In [ ]:
cursor.execute('''
CREATE TABLE  Bank_Account_Detail2(
    customer_id INT,
    Account_Number VARCHAR(19),
    Account_type VARCHAR(25),
    Balance_amount INT,
    Account_status VARCHAR(10),
    Relationship VARCHAR(1))
''')
conn.commit()

In [ ]:
def insert_Bank_Account_Detail2( customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship ):
  cursor.execute("INSERT INTO Bank_Account_Detail2(customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship)VALUES(?,?,?,?,?,?)",(customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relationship))
  conn.commit()

In [ ]:
insert_Bank_Account_Detail2(123006, '5800-1700-9800-7755', "Credit Card",0 ,"ACTIVE", "P")
insert_Bank_Account_Detail2(123006, '5890-1970-7706-8912', "Add-on Credit Card",0,"ACTIVE", "S")
insert_Bank_Account_Detail2(123001, "4000-1956-3456",  "SAVINGS" , 200000 ,"ACTIVE","P")
insert_Bank_Account_Detail2(123001, "5000-1700-3456", "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S")
insert_Bank_Account_Detail2(123002, "4000-1956-2001",  "SAVINGS", 400000 ,"ACTIVE","P")
insert_Bank_Account_Detail2(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_Bank_Account_Detail2(123003, "4000-1956-2900",  "SAVINGS" ,750000,"INACTIVE","P")
insert_Bank_Account_Detail2(123004, "5000-1700-6091", "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_Bank_Account_Detail2(123004, "4000-1956-3401",  "SAVINGS" , 655000 ,"ACTIVE","P")
insert_Bank_Account_Detail2(123005, "4000-1956-5102",  "SAVINGS" , 300000 ,"ACTIVE","P")
insert_Bank_Account_Detail2(123006, "4000-1956-5698",  "SAVINGS" , 455000 ,"ACTIVE" ,"P")
insert_Bank_Account_Detail2(123007, "5000-1700-9800",  "SAVINGS" , 355000 ,"ACTIVE" ,"P")
insert_Bank_Account_Detail2(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S")
insert_Bank_Account_Detail2(123007, "9000-1700-7777-4321",  "Credit Card"	,0,"INACTIVE", "P")
insert_Bank_Account_Detail2(123007, '5900-1900-9877-5543', "Add-on Credit Card" ,360000,"ACTIVE", "S")
insert_Bank_Account_Detail2(123008, "5000-1700-7755",  "SAVINGS",430000,"INACTIVE","P");

In [ ]:
#fetch data
cursor.execute('select * from Bank_Account_Detail2')
rows=cursor.fetchall()
#get column names
column_names=[desc[0] for desc in cursor.description]
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+---------------+---------------------+--------------------+------------------+------------------+----------------+
|   customer_id | Account_Number      | Account_type       |   Balance_amount | Account_status   | Relationship   |
+===============+=====================+====================+==================+==================+================+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |           360000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123008 | 5000-1700-7755      | SAVINGS            |           430000 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |           360000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123008 | 5000-1700-7755      | SAVINGS            |           430000 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 5800-1700-9800-7755 | Credit Card        |                0 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 5890-1970-7706-8912 | Add-on Credit Card |                0 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 4000-1956-3456      | SAVINGS            |           200000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS |          9400000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 4000-1956-2001      | SAVINGS            |           400000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123003 | 4000-1956-2900      | SAVINGS            |           750000 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS |          7500000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 4000-1956-3401      | SAVINGS            |           655000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123005 | 4000-1956-5102      | SAVINGS            |           300000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 4000-1956-5698      | SAVINGS            |           455000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5000-1700-9800      | SAVINGS            |           355000 | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS |          7025000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 9000-1700-7777-4321 | Credit Card        |                0 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5900-1900-9877-5543 | Add-on Credit Card |           360000 | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123008 | 5000-1700-7755      | SAVINGS            |           430000 | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+

**Bank Account Table**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACCOUNT (
    customer_id INT,
    Account_Number VARCHAR(20),
    Account_type VARCHAR(25),
    Balance_amount INT,
    Account_status VARCHAR(10),
    Relation_ship VARCHAR(1)
);
''' )

OperationalError: table BANK_ACCOUNT already exists

In [ ]:
def insert_Bank_Account( customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relation_ship ):
   cursor.execute("INSERT INTO Bank_Account(customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relation_ship)VALUES(?,?,?,?,?,?)",(customer_id,Account_Number,Account_type,Balance_amount,Account_status,Relation_ship))
   conn.commit()

In [ ]:
# Insert records:
insert_Bank_Account(123001, "4000-1956-3456",  "SAVINGS"            , 200000 ,"ACTIVE","P")
insert_Bank_Account(123001, "5000-1700-3456",  "RECURRING DEPOSITS" ,9400000 ,"ACTIVE","S")
insert_Bank_Account(123002, "4000-1956-2001",  "SAVINGS"            , 400000 ,"ACTIVE","P")
insert_Bank_Account(123002, "5000-1700-5001",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_Bank_Account(123003, "4000-1956-2900",  "SAVINGS"            ,750000,"INACTIVE","P")
insert_Bank_Account(123004, "5000-1700-6091",  "RECURRING DEPOSITS" ,7500000 ,"ACTIVE","S")
insert_Bank_Account(123004, "4000-1956-3401",  "SAVINGS"            , 655000 ,"ACTIVE","P")
insert_Bank_Account(123005, "4000-1956-5102",  "SAVINGS"            , 300000 ,"ACTIVE","P")
insert_Bank_Account(123006, "4000-1956-5698",  "SAVINGS"            , 455000 ,"ACTIVE" ,"P")
insert_Bank_Account(123007, "5000-1700-9800",  "SAVINGS"            , 355000 ,"ACTIVE" ,"P")
insert_Bank_Account(123007, "4000-1956-9977",  "RECURRING DEPOSITS" , 7025000,"ACTIVE" ,"S")
insert_Bank_Account(123007, "9000-1700-7777-4321",  "CREDITCARD"    ,0      ,"INACTIVE","P")
insert_Bank_Account(123008, "5000-1700-7755",  "SAVINGS"            ,"NULL"   ,"INACTIVE","P")

In [ ]:
#fetch data
cursor.execute('select * from Bank_Account')
rows=cursor.fetchall()
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+---------------+---------------------+--------------------+------------------+------------------+----------------+
|   customer_id | Account_Number      | Account_type       | Balance_amount   | Account_status   | Relationship   |
+===============+=====================+====================+==================+==================+================+
|        123001 | 4000-1956-3456      | SAVINGS            | 200000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 9400000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 4000-1956-2001      | SAVINGS            | 400000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123003 | 4000-1956-2900      | SAVINGS            | 750000           | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 4000-1956-3401      | SAVINGS            | 655000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123005 | 4000-1956-5102      | SAVINGS            | 300000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 4000-1956-5698      | SAVINGS            | 455000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5000-1700-9800      | SAVINGS            | 355000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 7025000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         | 0                | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123008 | 5000-1700-7755      | SAVINGS            | NULL             | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 4000-1956-3456      | SAVINGS            | 200000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123001 | 5000-1700-3456      | RECURRING DEPOSITS | 9400000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 4000-1956-2001      | SAVINGS            | 400000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123002 | 5000-1700-5001      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123003 | 4000-1956-2900      | SAVINGS            | 750000           | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 5000-1700-6091      | RECURRING DEPOSITS | 7500000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123004 | 4000-1956-3401      | SAVINGS            | 655000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123005 | 4000-1956-5102      | SAVINGS            | 300000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123006 | 4000-1956-5698      | SAVINGS            | 455000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 5000-1700-9800      | SAVINGS            | 355000           | ACTIVE           | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 4000-1956-9977      | RECURRING DEPOSITS | 7025000          | ACTIVE           | S              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123007 | 9000-1700-7777-4321 | CREDITCARD         | 0                | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+
|        123008 | 5000-1700-7755      | SAVINGS            | NULL             | INACTIVE         | P              |
+---------------+---------------------+--------------------+------------------+------------------+----------------+

**Bank_Account_Relationship_Details**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_ACCOUNT_Relationship_Detail (
    customer_id INT,
    Account_Number VARCHAR(19),
    Account_type VARCHAR(25),
    Linking_Account_Number VARCHAR(19));
''' )

OperationalError: table BANK_ACCOUNT_Relationship_Detail already exists

In [ ]:
def insert_BANK_ACCOUNT_Relationship_Detail(customer_id,Account_Number,Account_type,Linking_Account_Number):
  cursor.execute("INSERT INTO  BANK_ACCOUNT_Relationship_Detail(customer_id,Account_Number,Account_type,Linking_Account_Number)VALUES(?,?,?,?)",(customer_id,Account_Number,Account_type,Linking_Account_Number))
  conn.commit()

In [ ]:
insert_BANK_ACCOUNT_Relationship_Detail(123001, "4000-1956-3456", "SAVINGS", "")

insert_BANK_ACCOUNT_Relationship_Detail(123001, "5000-1700-3456", "RECURRING DEPOSITS", "4000-1956-3456")

insert_BANK_ACCOUNT_Relationship_Detail(123002, "4000-1956-2001", "SAVINGS", "")

insert_BANK_ACCOUNT_Relationship_Detail(123002, "5000-1700-5001", "RECURRING DEPOSITS", "4000-1956-2001")

insert_BANK_ACCOUNT_Relationship_Detail(123003, "4000-1956-2900", "SAVINGS", "")

insert_BANK_ACCOUNT_Relationship_Detail(123004, "5000-1700-6091", "RECURRING DEPOSITS", "4000-1956-2900")

insert_BANK_ACCOUNT_Relationship_Detail(123004, "5000-1700-7791", "RECURRING DEPOSITS", "4000-1956-2900")

insert_BANK_ACCOUNT_Relationship_Detail(123007, "5000-1700-9800", "SAVINGS", "")

insert_BANK_ACCOUNT_Relationship_Detail(123007, "4000-1956-9977", "RECURRING DEPOSITS", "5000-1700-9800")

insert_BANK_ACCOUNT_Relationship_Detail("Null", "9000-1700-7777-4321", "Credit Card", "5000-1700-9800")

insert_BANK_ACCOUNT_Relationship_Detail("Null", "5900-1900-9877-5543", "Add-on Credit Card", "9000-1700-7777-4321")

insert_BANK_ACCOUNT_Relationship_Detail("Null", "5800-1700-9800-7755", "Credit Card", "4000-1956-5698")

insert_BANK_ACCOUNT_Relationship_Detail("Null", "5890-1970-7706-8912", "Add-on Credit Card", "5800-1700-9800-7755")

In [ ]:
#fetch data
cursor.execute('select * from BANK_ACCOUNT_Relationship_Detail')
rows=cursor.fetchall()
#get column names
column_names=[desc[0] for desc in cursor.description]
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+---------------+---------------------+--------------------+--------------------------+
| customer_id   | Account_Number      | Account_type       | Linking_Account_Number   |
+===============+=====================+====================+==========================+
| 123001        | 4000-1956-3456      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123001        | 5000-1700-3456      | RECURRING DEPOSITS | 4000-1956-3456           |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 4000-1956-2001      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123002        | 5000-1700-5001      | RECURRING DEPOSITS | 4000-1956-2001           |
+---------------+---------------------+--------------------+--------------------------+
| 123003        | 4000-1956-2900      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123004        | 5000-1700-6091      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
| 123004        | 5000-1700-7791      | RECURRING DEPOSITS | 4000-1956-2900           |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 5000-1700-9800      | SAVINGS            |                          |
+---------------+---------------------+--------------------+--------------------------+
| 123007        | 4000-1956-9977      | RECURRING DEPOSITS | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| Null          | 9000-1700-7777-4321 | Credit Card        | 5000-1700-9800           |
+---------------+---------------------+--------------------+--------------------------+
| Null          | 5900-1900-9877-5543 | Add-on Credit Card | 9000-1700-7777-4321      |
+---------------+---------------------+--------------------+--------------------------+
| Null          | 5800-1700-9800-7755 | Credit Card        | 4000-1956-5698           |
+---------------+---------------------+--------------------+--------------------------+
| Null          | 5890-1970-7706-8912 | Add-on Credit Card | 5800-1700-9800-7755      |
+---------------+---------------------+--------------------+--------------------------+

**BANK_ACCOUNT_TRANSACTION**

In [ ]:
cursor.execute('''
CREATE TABLE  BANK_ACCOUNT_Transaction1 (
	Account_Number VARCHAR(19),
              	Transaction_amount Decimal(18,2) ,
              	Transaction_channel VARCHAR(18) ,
             	Province varchar(3) ,
             	Transaction_Date Date) ;

''' )

In [ ]:
def insert_BANK_ACCOUNT_Transaction1(Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date):
  cursor.execute("INSERT INTO BANK_ACCOUNT_Transaction1(Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date)VALUES(?,?,?,?,?)",(Account_Number,Transaction_amount,Transaction_channel,Province,Transaction_Date))
  conn.commit()

In [ ]:
insert_BANK_ACCOUNT_Transaction1( "4000-1956-3456",  -2000, "ATM withdrawl" , "CA", "2020-01-13")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-2001",  -4000, "POS-Walmart"   , "MN", "2020-02-14")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-2001",  -1600, "UPI transfer"  , "MN", "2020-01-19")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-2001",  -6000, "Bankers cheque", "CA", "2020-03-23")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-2001",  -3000, "Net banking"   , "CA", "2020-04-24")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-2001",  23000, "cheque deposit", "MN", "2020-03-15")
insert_BANK_ACCOUNT_Transaction1( "5000-1700-6091",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_BANK_ACCOUNT_Transaction1( "5000-1700-7791",  40000, "ECS transfer"  , "NY", "2020-02-19")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-3401",   8000, "Cash Deposit"  , "NY", "2020-01-19")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-5102",  -6500, "ATM withdrawal" , "NY", "2020-03-14")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-5698",  -9000, "Cash Deposit"  , "NY", "2020-03-27")
insert_BANK_ACCOUNT_Transaction1( "4000-1956-9977",  50000, "ECS transfer"  , "NY", "2020-01-16")
insert_BANK_ACCOUNT_Transaction1( "9000-1700-7777-4321",  -5000, "POS-Walmart", "NY", "2020-02-17")
insert_BANK_ACCOUNT_Transaction1( "9000-1700-7777-4321",  -8000, "Shopping Cart", "MN", "2020-03-13")
insert_BANK_ACCOUNT_Transaction1( "9000-1700-7777-4321",  -2500, "Shopping Cart", "MN", "2020-04-21")
insert_BANK_ACCOUNT_Transaction1( "5800-1700-9800-7755", -9000, "POS-Walmart","MN", "2020-04-13")
insert_BANK_ACCOUNT_Transaction1( '5890-1970-7706-8912', -11000, "Shopping Cart" , "NY" , "2020-03-12");

In [ ]:
#fetch data
cursor.execute('select * from BANK_ACCOUNT_Transaction1')
rows=cursor.fetchall()
#get column names
column_names=[desc[0] for desc in cursor.description]
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+---------------------+----------------------+-----------------------+------------+--------------------+
| Account_Number      |   Transaction_amount | Transaction_channel   | Province   | Transaction_Date   |
+=====================+======================+=======================+============+====================+
| 4000-1956-3456      |                -2000 | ATM withdrawl         | CA         | 2020-01-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -4000 | POS-Walmart           | MN         | 2020-02-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -1600 | UPI transfer          | MN         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -6000 | Bankers cheque        | CA         | 2020-03-23         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                -3000 | Net banking           | CA         | 2020-04-24         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-2001      |                23000 | cheque deposit        | MN         | 2020-03-15         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-6091      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5000-1700-7791      |                40000 | ECS transfer          | NY         | 2020-02-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-3401      |                 8000 | Cash Deposit          | NY         | 2020-01-19         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5102      |                -6500 | ATM withdrawal        | NY         | 2020-03-14         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-5698      |                -9000 | Cash Deposit          | NY         | 2020-03-27         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 4000-1956-9977      |                50000 | ECS transfer          | NY         | 2020-01-16         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -5000 | POS-Walmart           | NY         | 2020-02-17         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -8000 | Shopping Cart         | MN         | 2020-03-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 9000-1700-7777-4321 |                -2500 | Shopping Cart         | MN         | 2020-04-21         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5800-1700-9800-7755 |                -9000 | POS-Walmart           | MN         | 2020-04-13         |
+---------------------+----------------------+-----------------------+------------+--------------------+
| 5890-1970-7706-8912 |               -11000 | Shopping Cart         | NY         | 2020-03-12         |
+---------------------+----------------------+-----------------------+------------+--------------------+

**BANK_CUSTOMER_MESSAGES**

In [ ]:
cursor.execute('''
CREATE TABLE  BANK_CUSTOMER_MESSAGE (
	              Event VARCHAR(24),
              	Customer_message VARCHAR(75),
              	Notice_delivery_mode VARCHAR(15)) ;

''' )

In [ ]:
def insert_BANK_CUSTOMER_MESSAGE(Event,Customer_message,Notice_delivery_mode):
  cursor.execute("INSERT INTO BANK_CUSTOMER_MESSAGE( Event,Customer_message,Notice_delivery_mode)VALUES(?,?,?)",(Event,Customer_message,Notice_delivery_mode))
  conn.commit()

In [ ]:
insert_BANK_CUSTOMER_MESSAGE( "Adhoc", "All Banks are closed due to announcement of National strike", "mobile" )
insert_BANK_CUSTOMER_MESSAGE( "Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile" )
insert_BANK_CUSTOMER_MESSAGE("System Maintenance", "Scheduled maintenance on 5th Sep from 2 AM to 5 AM. Online services will be unavailable", "email")
insert_BANK_CUSTOMER_MESSAGE("Security Alert", "Please update your mobile number to continue receiving OTPs", "sms")
insert_BANK_CUSTOMER_MESSAGE("Loan Update", "Your loan EMI due date has been extended by 7 days", "mobile")
insert_BANK_CUSTOMER_MESSAGE("New Feature", "Now you can block your card via mobile banking app", "push_notification");

In [ ]:
#fetch data
cursor.execute('select * from BANK_CUSTOMER_MESSAGE')
rows=cursor.fetchall()
#get column names
column_names=[desc[0] for desc in cursor.description]
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+--------------------+-----------------------------------------------------------------------------------------+------------------------+
| Event              | Customer_message                                                                        | Notice_delivery_mode   |
+====================+=========================================================================================+========================+
| Adhoc              | All Banks are closed due to announcement of National strike                             | mobile                 |
+--------------------+-----------------------------------------------------------------------------------------+------------------------+
| Transaction Limit  | Only limited withdrawals per card are allowed from ATM machines                         | mobile                 |
+--------------------+-----------------------------------------------------------------------------------------+------------------------+
| System Maintenance | Scheduled maintenance on 5th Sep from 2 AM to 5 AM. Online services will be unavailable | email                  |
+--------------------+-----------------------------------------------------------------------------------------+------------------------+
| Security Alert     | Please update your mobile number to continue receiving OTPs                             | sms                    |
+--------------------+-----------------------------------------------------------------------------------------+------------------------+
| Loan Update        | Your loan EMI due date has been extended by 7 days                                      | mobile                 |
+--------------------+-----------------------------------------------------------------------------------------+------------------------+
| New Feature        | Now you can block your card via mobile banking app                                      | push_notification      |
+--------------------+-----------------------------------------------------------------------------------------+------------------------+

**BANK_INTEREST_RATE**

In [ ]:
cursor.execute('''
CREATE TABLE BANK_INTEREST_RATE (
	            account_type varchar(24),
              interest_rate decimal(4,2),
            	month varchar(2),
            	year  varchar(4));

''' )

In [ ]:
def insert_BANK_INTEREST_RATE(account_type,interest_rate,month,year):
  cursor.execute("INSERT INTO BANK_INTEREST_RATE (account_type,interest_rate,month,year)VALUES(?,?,?,?)",(account_type,interest_rate,month,year))
  conn.commit()

In [ ]:
insert_BANK_INTEREST_RATE ( "SAVINGS" , 0.04 , '02' , '2020' );
insert_BANK_INTEREST_RATE( "RECURRING DEPOSITS" , 0.07, '02' , '2020' )
insert_BANK_INTEREST_RATE( "PRIVILEGED_INTEREST_RATE" , 0.08 , '02' , '2020' )
insert_BANK_INTEREST_RATE ("SAVINGS", 0.04, '03', '2020')
insert_BANK_INTEREST_RATE("SAVINGS", 0.04, '04', '2020')
insert_BANK_INTEREST_RATE ("SAVINGS", 0.03, '02', '2021')
insert_BANK_INTEREST_RATE ("RECURRING DEPOSITS", 0.069, '02', '2021')
insert_BANK_INTEREST_RATE ("PRIVILEGED_INTEREST_RATE", 0.082, '02', '2021')
insert_BANK_INTEREST_RATE ("FIXED DEPOSITS", 0.065, '02', '2020')
insert_BANK_INTEREST_RATE ("CURRENT", 0.01, '02', '2020')
insert_BANK_INTEREST_RATE("SENIOR_CITIZEN_SAVINGS", 0.085, '02', '2020');

In [ ]:
#fetch data
cursor.execute('select * from BANK_INTEREST_RATE')
rows=cursor.fetchall()
#get column names
column_names=[desc[0] for desc in cursor.description]
#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

+--------------------------+-----------------+---------+--------+
| account_type             |   interest_rate |   month |   year |
+==========================+=================+=========+========+
| SAVINGS                  |           0.04  |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |           0.07  |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |           0.08  |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| SAVINGS                  |           0.04  |      03 |   2020 |
+--------------------------+-----------------+---------+--------+
| SAVINGS                  |           0.04  |      04 |   2020 |
+--------------------------+-----------------+---------+--------+
| SAVINGS                  |           0.03  |      02 |   2021 |
+--------------------------+-----------------+---------+--------+
| RECURRING DEPOSITS       |           0.069 |      02 |   2021 |
+--------------------------+-----------------+---------+--------+
| PRIVILEGED_INTEREST_RATE |           0.082 |      02 |   2021 |
+--------------------------+-----------------+---------+--------+
| FIXED DEPOSITS           |           0.065 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| CURRENT                  |           0.01  |      02 |   2020 |
+--------------------------+-----------------+---------+--------+
| SENIOR_CITIZEN_SAVINGS   |           0.085 |      02 |   2020 |
+--------------------------+-----------------+---------+--------+

In [ ]:

# 1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

# 2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

# 3) Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

# 4) Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

# 5) Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)
# 6) Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an Adhoc" Event for all customers who have  SAVINGS" account_type account.(8 Rows)

# 7) Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)
# Question 8:
# a) Display records of All Accounts , their Account_types, the transaction amount.
# b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)eared  in another column.(26 Rows)

# Question 9:
# a) Display records of All Accounts , their Account_types, the transaction amount.
# b) Along with first step, Display other columns with corresponding linking account number, account types
# c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts app
# Question 10:
# 10) Display all saving account holders have Add-on Credit Cards" and Credit cards" (3 Rows)
# Question 11:
# 11)  Display  records of SAVINGS account linked with Credit cards" account_type and its credit
# aggregate sum of transaction amount. (1 Row)
# Ref: Check linking relationship in bank_transaction_relationship_details.
        # Check transaction_amount in bank_account_transaction.

**1.Print customer Id, customer name and average account_balance maintained by each customer for all of his/her accounts in the bank.(8 Rows)**

In [ ]:
# SQL query to get customer_id, customer_name, and average balance amount
query = """
SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.Balance_amount) AS avg_balance
FROM Bank_Customer c
LEFT JOIN Bank_Account_Detail2 a ON c.customer_id = a.customer_id
GROUP BY c.customer_id, c.customer_name
LIMIT 8;  -- Show only 8 rows
"""

# Execute the query
cursor.execute(query)

# Fetch column names
columns = [desc[0] for desc in cursor.description]

# Fetch all results
results = cursor.fetchall()

# Print table headers
print("{:<12} {:<20} {:<15}".format(*columns))
print("-" * 50)

# Print each row in a properly formatted way
for row in results:
    print("{:<12} {:<20} {:<15.2f}".format(*row))  # Format avg_balance to 2 decimal places

customer_id  customer_name        avg_balance
--------------------------------------------------
123001       Oliver               4800000.00
123002       George               3950000.00
123003       Harry                750000.00
123004       Jack                 4077500.00
123005       Jacob                300000.00
123006       Noah                 151666.67
123007       Charlie              1935000.00
123008       Robin                430000.00

**2) Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount for account_type = "Credit Card"(4 Rows).**

In [ ]:
query = """
SELECT
    a.customer_id,
    a.Account_number,
    COALESCE(a.Balance_amount, t.Transaction_amount) AS Balance_amount
FROM Bank_Account_Detail2 a
LEFT JOIN BANK_ACCOUNT_Transaction1 t ON a.Account_Number = t.Account_Number
WHERE a.Account_type = 'Credit Card'
LIMIT 4;  -- Show only 4 rows
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+------------------+
|    |   customer_id | Account_Number      |   Balance_amount |
|----+---------------+---------------------+------------------|
|  0 |        123006 | 5800-1700-9800-7755 |                0 |
|  1 |        123007 | 9000-1700-7777-4321 |                0 |
|  2 |        123007 | 9000-1700-7777-4321 |                0 |
|  3 |        123007 | 9000-1700-7777-4321 |                0 |
+----+---------------+---------------------+------------------+

In [ ]:
# 3) Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction
    #for all the transactions occurred during march,2020 and april, 2020(12 Rows)
query = """
SELECT
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
  from Ban_Account_Details a
  INNER Join BANK_ACCOUNT_Transaction1 t on a.Account_Number = a.Account_Number
  WHERE t.Transaction_Date BETWEEN '2020-03-01' AND '2020-04-30'
  limit 12;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt ='psql'))

DatabaseError: Execution failed on sql '
SELECT
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
  from Ban_Account_Details a
  INNER Join BANK_ACCOUNT_Transaction1 t on a.Account_Number = a.Account_Number
  WHERE t.Transaction_Date BETWEEN '2020-03-01' AND '2020-04-30'
  limit 12;
': no such table: Ban_Account_Details

In [ ]:
# 4) Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date
# from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

query = """
SELECT
    c.customer_id,
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM Bank_Customer c
INNER JOIN Bank_Account_Detail2 a
    ON c.customer_id = a.customer_id
INNER JOIN Bank_Account_Transaction1 t
    ON a.Account_Number = t.Account_Number
WHERE
    NOT (t.Transaction_Date BETWEEN '2020-03-01' AND '2020-03-31')
LIMIT 22;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt ='psql'))

+----+---------------+---------------------+------------------+----------------------+--------------------+
|    |   customer_id | Account_Number      |   Balance_amount |   Transaction_amount | Transaction_Date   |
|----+---------------+---------------------+------------------+----------------------+--------------------|
|  0 |        123001 | 4000-1956-3456      |           200000 |                -2000 | 2020-01-13         |
|  1 |        123001 | 4000-1956-3456      |           200000 |                -2000 | 2020-01-13         |
|  2 |        123002 | 4000-1956-2001      |           400000 |                -4000 | 2020-02-14         |
|  3 |        123002 | 4000-1956-2001      |           400000 |                -4000 | 2020-02-14         |
|  4 |        123002 | 4000-1956-2001      |           400000 |                -1600 | 2020-01-19         |
|  5 |        123002 | 4000-1956-2001      |           400000 |                -1600 | 2020-01-19         |
|  6 |        123002 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
|  7 |        123002 | 4000-1956-2001      |           400000 |                -3000 | 2020-04-24         |
|  8 |        123004 | 5000-1700-6091      |          7500000 |                40000 | 2020-02-19         |
|  9 |        123004 | 5000-1700-6091      |          7500000 |                40000 | 2020-02-19         |
| 10 |        123004 | 4000-1956-3401      |           655000 |                 8000 | 2020-01-19         |
| 11 |        123004 | 4000-1956-3401      |           655000 |                 8000 | 2020-01-19         |
| 12 |        123007 | 4000-1956-9977      |          7025000 |                50000 | 2020-01-16         |
| 13 |        123007 | 4000-1956-9977      |          7025000 |                50000 | 2020-01-16         |
| 14 |        123007 | 9000-1700-7777-4321 |                0 |                -5000 | 2020-02-17         |
| 15 |        123007 | 9000-1700-7777-4321 |                0 |                -5000 | 2020-02-17         |
| 16 |        123007 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
| 17 |        123007 | 9000-1700-7777-4321 |                0 |                -2500 | 2020-04-21         |
| 18 |        123006 | 5800-1700-9800-7755 |                0 |                -9000 | 2020-04-13         |
| 19 |        123006 | 5800-1700-9800-7755 |                0 |                -9000 | 2020-04-13         |
+----+---------------+---------------------+------------------+----------------------+--------------------+

In [ ]:
# 5) Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during
#the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

query = """
SELECT
    c.Customer_id,
    a.Account_Number,
    a.Balance_amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM bank_customer c
INNER JOIN Bank_Account_Detail2 a
    ON c.Customer_id = a.Customer_id
INNER JOIN Bank_Account_Transaction1 t
    ON a.Account_Number = t.Account_Number
WHERE t.Transaction_Date BETWEEN '2020-01-01' AND '2020-03-31'
LIMIT 16;
"""


result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt ='psql'))

+----+---------------+------------------+------------------+----------------------+--------------------+
|    |   customer_id | Account_Number   |   Balance_amount |   Transaction_amount | Transaction_Date   |
|----+---------------+------------------+------------------+----------------------+--------------------|
|  0 |        123001 | 4000-1956-3456   |           200000 |                -2000 | 2020-01-13         |
|  1 |        123001 | 4000-1956-3456   |           200000 |                -2000 | 2020-01-13         |
|  2 |        123002 | 4000-1956-2001   |           400000 |                -4000 | 2020-02-14         |
|  3 |        123002 | 4000-1956-2001   |           400000 |                -4000 | 2020-02-14         |
|  4 |        123002 | 4000-1956-2001   |           400000 |                -1600 | 2020-01-19         |
|  5 |        123002 | 4000-1956-2001   |           400000 |                -1600 | 2020-01-19         |
|  6 |        123002 | 4000-1956-2001   |           400000 |                -6000 | 2020-03-23         |
|  7 |        123002 | 4000-1956-2001   |           400000 |                -6000 | 2020-03-23         |
|  8 |        123002 | 4000-1956-2001   |           400000 |                23000 | 2020-03-15         |
|  9 |        123002 | 4000-1956-2001   |           400000 |                23000 | 2020-03-15         |
| 10 |        123004 | 5000-1700-6091   |          7500000 |                40000 | 2020-02-19         |
| 11 |        123004 | 5000-1700-6091   |          7500000 |                40000 | 2020-02-19         |
| 12 |        123004 | 4000-1956-3401   |           655000 |                 8000 | 2020-01-19         |
| 13 |        123004 | 4000-1956-3401   |           655000 |                 8000 | 2020-01-19         |
| 14 |        123005 | 4000-1956-5102   |           300000 |                -6500 | 2020-03-14         |
| 15 |        123005 | 4000-1956-5102   |           300000 |                -6500 | 2020-03-14         |
+----+---------------+------------------+------------------+----------------------+--------------------+

In [ ]:
# 6) Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details
#to display an Adhoc" Event for all customers who have  SAVINGS" account_type account.(8 Rows)
query = """
SELECT
    a.Account_Number,
    m.Event,
    m.Customer_message
FROM BANK_CUSTOMER_MESSAGE m
CROSS JOIN Bank_Account_Detail2 a
WHERE m.Event = 'Adhoc' AND a.Account_type = 'SAVINGS'
LIMIT 8;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt ='psql'))

+----+------------------+---------+-------------------------------------------------------------+
|    | Account_Number   | Event   | Customer_message                                            |
|----+------------------+---------+-------------------------------------------------------------|
|  0 | 4000-1956-2001   | Adhoc   | All Banks are closed due to announcement of National strike |
|  1 | 4000-1956-2001   | Adhoc   | All Banks are closed due to announcement of National strike |
|  2 | 4000-1956-2900   | Adhoc   | All Banks are closed due to announcement of National strike |
|  3 | 4000-1956-2900   | Adhoc   | All Banks are closed due to announcement of National strike |
|  4 | 4000-1956-3401   | Adhoc   | All Banks are closed due to announcement of National strike |
|  5 | 4000-1956-3401   | Adhoc   | All Banks are closed due to announcement of National strike |
|  6 | 4000-1956-3456   | Adhoc   | All Banks are closed due to announcement of National strike |
|  7 | 4000-1956-3456   | Adhoc   | All Banks are closed due to announcement of National strike |
+----+------------------+---------+-------------------------------------------------------------+

In [ ]:

# 7) Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only
#negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)

query = """
SELECT
    a.customer_id,
    a.Account_Number,
    a.Account_type,
    SUM(CASE WHEN t.Transaction_amount < 0 THEN t.Transaction_amount ELSE 0 END) AS deducted_balance_amount
FROM Bank_account_Detail2 a
JOIN Bank_Account_Transaction1 t
    ON a.Account_Number = t.Account_Number
WHERE a.relationship = 'P'
GROUP BY a.customer_id, a.Account_Number, a.Account_type
LIMIT 27;
"""

result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt ='psql'))

+----+---------------+---------------------+----------------+---------------------------+
|    |   customer_id | Account_Number      | Account_type   |   deducted_balance_amount |
|----+---------------+---------------------+----------------+---------------------------|
|  0 |        123001 | 4000-1956-3456      | SAVINGS        |                     -4000 |
|  1 |        123002 | 4000-1956-2001      | SAVINGS        |                    -29200 |
|  2 |        123004 | 4000-1956-3401      | SAVINGS        |                         0 |
|  3 |        123005 | 4000-1956-5102      | SAVINGS        |                    -13000 |
|  4 |        123006 | 4000-1956-5698      | SAVINGS        |                    -18000 |
|  5 |        123006 | 5800-1700-9800-7755 | Credit Card    |                    -18000 |
|  6 |        123007 | 9000-1700-7777-4321 | Credit Card    |                    -31000 |
+----+---------------+---------------------+----------------+---------------------------+

In [ ]:
 #Question 8:
# a) Display records of All Accounts , their Account_types, the transaction amount.
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount
FROM Bank_Account_Detail2 a
JOIN Bank_Account_Transaction1 t
    ON a.Account_Number = t.Account_Number
LIMIT 15;
"""

result = pd.read_sql_query(query,conn)
print(tabulate(result,headers= 'keys',tablefmt='grid'))

+----+---------------------+--------------------+----------------------+
|    | Account_Number      | Account_type       |   Transaction_amount |
+====+=====================+====================+======================+
|  0 | 5800-1700-9800-7755 | Credit Card        |                -9000 |
+----+---------------------+--------------------+----------------------+
|  1 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |
+----+---------------------+--------------------+----------------------+
|  2 | 4000-1956-3456      | SAVINGS            |                -2000 |
+----+---------------------+--------------------+----------------------+
|  3 | 4000-1956-2001      | SAVINGS            |                -6000 |
+----+---------------------+--------------------+----------------------+
|  4 | 4000-1956-2001      | SAVINGS            |                -4000 |
+----+---------------------+--------------------+----------------------+
|  5 | 4000-1956-2001      | SAVINGS            |                -3000 |
+----+---------------------+--------------------+----------------------+
|  6 | 4000-1956-2001      | SAVINGS            |                -1600 |
+----+---------------------+--------------------+----------------------+
|  7 | 4000-1956-2001      | SAVINGS            |                23000 |
+----+---------------------+--------------------+----------------------+
|  8 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
+----+---------------------+--------------------+----------------------+
|  9 | 4000-1956-3401      | SAVINGS            |                 8000 |
+----+---------------------+--------------------+----------------------+
| 10 | 4000-1956-5102      | SAVINGS            |                -6500 |
+----+---------------------+--------------------+----------------------+
| 11 | 4000-1956-5698      | SAVINGS            |                -9000 |
+----+---------------------+--------------------+----------------------+
| 12 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
+----+---------------------+--------------------+----------------------+
| 13 | 9000-1700-7777-4321 | Credit Card        |                -8000 |
+----+---------------------+--------------------+----------------------+
| 14 | 9000-1700-7777-4321 | Credit Card        |                -5000 |
+----+---------------------+--------------------+----------------------+

In [ ]:
#8
# b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount,
    a.Customer_id,
    r.Linking_Account_Number,
    r.Account_Type
FROM Bank_Account_Detail2 a
JOIN Bank_Account_Transaction1 t
    ON a.Account_Number = t.Account_Number
JOIN Bank_Account_Relationship_Detail r
    ON a.Account_Number = r.Account_Number
LIMIT 15;
"""

result = pd.read_sql_query(query,conn)
print(tabulate(result,headers= 'keys',tablefmt='grid'))

+------------------+----------------+----------------------+---------------+--------------------------+----------------+
| Account_Number   | Account_type   | Transaction_amount   | customer_id   | Linking_Account_Number   | Account_type   |
+==================+================+======================+===============+==========================+================+
+------------------+----------------+----------------------+---------------+--------------------------+----------------+

In [ ]:
# Question 9:
# a) Display records of All Accounts , their Account_types, the transaction amount.
query = """
  SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount
FROM Bank_Account_Detail2 a
JOIN Bank_Account_Transaction1 t
    ON a.Account_Number = t.Account_Number
"""


result = pd.read_sql_query(query,conn)
print(tabulate(result,headers= 'keys',tablefmt='grid'))

+----+---------------------+--------------------+----------------------+
|    | Account_Number      | Account_type       |   Transaction_amount |
+====+=====================+====================+======================+
|  0 | 5800-1700-9800-7755 | Credit Card        |                -9000 |
+----+---------------------+--------------------+----------------------+
|  1 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |
+----+---------------------+--------------------+----------------------+
|  2 | 4000-1956-3456      | SAVINGS            |                -2000 |
+----+---------------------+--------------------+----------------------+
|  3 | 4000-1956-2001      | SAVINGS            |                -6000 |
+----+---------------------+--------------------+----------------------+
|  4 | 4000-1956-2001      | SAVINGS            |                -4000 |
+----+---------------------+--------------------+----------------------+
|  5 | 4000-1956-2001      | SAVINGS            |                -3000 |
+----+---------------------+--------------------+----------------------+
|  6 | 4000-1956-2001      | SAVINGS            |                -1600 |
+----+---------------------+--------------------+----------------------+
|  7 | 4000-1956-2001      | SAVINGS            |                23000 |
+----+---------------------+--------------------+----------------------+
|  8 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
+----+---------------------+--------------------+----------------------+
|  9 | 4000-1956-3401      | SAVINGS            |                 8000 |
+----+---------------------+--------------------+----------------------+
| 10 | 4000-1956-5102      | SAVINGS            |                -6500 |
+----+---------------------+--------------------+----------------------+
| 11 | 4000-1956-5698      | SAVINGS            |                -9000 |
+----+---------------------+--------------------+----------------------+
| 12 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
+----+---------------------+--------------------+----------------------+
| 13 | 9000-1700-7777-4321 | Credit Card        |                -8000 |
+----+---------------------+--------------------+----------------------+
| 14 | 9000-1700-7777-4321 | Credit Card        |                -5000 |
+----+---------------------+--------------------+----------------------+
| 15 | 9000-1700-7777-4321 | Credit Card        |                -2500 |
+----+---------------------+--------------------+----------------------+
| 16 | 5800-1700-9800-7755 | Credit Card        |                -9000 |
+----+---------------------+--------------------+----------------------+
| 17 | 5890-1970-7706-8912 | Add-on Credit Card |               -11000 |
+----+---------------------+--------------------+----------------------+
| 18 | 4000-1956-3456      | SAVINGS            |                -2000 |
+----+---------------------+--------------------+----------------------+
| 19 | 4000-1956-2001      | SAVINGS            |                -6000 |
+----+---------------------+--------------------+----------------------+
| 20 | 4000-1956-2001      | SAVINGS            |                -4000 |
+----+---------------------+--------------------+----------------------+
| 21 | 4000-1956-2001      | SAVINGS            |                -3000 |
+----+---------------------+--------------------+----------------------+
| 22 | 4000-1956-2001      | SAVINGS            |                -1600 |
+----+---------------------+--------------------+----------------------+
| 23 | 4000-1956-2001      | SAVINGS            |                23000 |
+----+---------------------+--------------------+----------------------+
| 24 | 5000-1700-6091      | RECURRING DEPOSITS |                40000 |
+----+---------------------+--------------------+----------------------+
| 25 | 4000-1956-3401      | SAVINGS            |                 8000 |
+----+---------------------+--------------------+----------------------+
| 26 | 4000-1956-5102      | SAVINGS            |                -6500 |
+----+---------------------+--------------------+----------------------+
| 27 | 4000-1956-5698      | SAVINGS            |                -9000 |
+----+---------------------+--------------------+----------------------+
| 28 | 4000-1956-9977      | RECURRING DEPOSITS |                50000 |
+----+---------------------+--------------------+----------------------+
| 29 | 9000-1700-7777-4321 | Credit Card        |                -8000 |
+----+---------------------+--------------------+----------------------+
| 30 | 9000-1700-7777-4321 | Credit Card        |                -5000 |
+----+---------------------+--------------------+----------------------+
| 31 | 9000-1700-7777-4321 | Credit Card        |                -2500 |
+----+---------------------+--------------------+----------------------+

In [ ]:
# Question 9:
#b) Along with first step, Display other columns with corresponding linking account number, account types
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount,
    a.Customer_id,
    r.Linking_Account_Number,
    r.Account_Type AS Linking_Account_Type
FROM Bank_Account_Detail2 a
       ON a.Account_Number = t.Account_Number
LEFT JOIN Bank_Account_Relationship_Detail r
       ON a.Account_Number = r.Account_Number
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='grid'))

DatabaseError: Execution failed on sql '
SELECT
    a.Account_Number,
    a.Account_type,
    t.Transaction_amount,
    a.Customer_id,
    r.Linking_Account_Number,
    r.Account_Type AS Linking_Account_Type
FROM Bank_Account_Detail2 a
       ON a.Account_Number = t.Account_Number
LEFT JOIN Bank_Account_Relationship_Detail r
       ON a.Account_Number = r.Account_Number
': a JOIN clause is required before ON

In [ ]:
# Question 9:
#c) After retrieving all records of accounts and their linked accounts, display the transaction amount of accounts app
query = """
SELECT
    a.Account_Number,
    a.Account_type,
    a.Customer_id,
    r.Linking_Account_Number,
    r.Account_Type AS Linking_Account_Type,
    t.Transaction_amount
FROM Bank_Account_Detail2 a
LEFT JOIN BANK_ACCOUNT_Relationship_Detail r
       ON a.Account_Number = r.Account_Number
LEFT JOIN Bank_Account_Transaction1 t
       ON a.Account_Number = t.Account_Number
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='grid'))

+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|    | Account_Number      | Account_type       |   customer_id | Linking_Account_Number   | Linking_Account_Type   |   Transaction_amount |
+====+=====================+====================+===============+==========================+========================+======================+
|  0 | 5800-1700-9800-7755 | Credit Card        |        123006 |                          |                        |                -9000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  1 | 5890-1970-7706-8912 | Add-on Credit Card |        123006 |                          |                        |               -11000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  2 | 4000-1956-3456      | SAVINGS            |        123001 |                          |                        |                -2000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  3 | 5000-1700-3456      | RECURRING DEPOSITS |        123001 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  4 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -6000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  5 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -4000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  6 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -3000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  7 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -1600 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  8 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                23000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
|  9 | 5000-1700-5001      | RECURRING DEPOSITS |        123002 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 10 | 4000-1956-2900      | SAVINGS            |        123003 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 11 | 5000-1700-6091      | RECURRING DEPOSITS |        123004 |                          |                        |                40000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 12 | 4000-1956-3401      | SAVINGS            |        123004 |                          |                        |                 8000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 13 | 4000-1956-5102      | SAVINGS            |        123005 |                          |                        |                -6500 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 14 | 4000-1956-5698      | SAVINGS            |        123006 |                          |                        |                -9000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 15 | 5000-1700-9800      | SAVINGS            |        123007 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 16 | 4000-1956-9977      | RECURRING DEPOSITS |        123007 |                          |                        |                50000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 17 | 9000-1700-7777-4321 | Credit Card        |        123007 |                          |                        |                -8000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 18 | 9000-1700-7777-4321 | Credit Card        |        123007 |                          |                        |                -5000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 19 | 9000-1700-7777-4321 | Credit Card        |        123007 |                          |                        |                -2500 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 20 | 5900-1900-9877-5543 | Add-on Credit Card |        123007 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 21 | 5000-1700-7755      | SAVINGS            |        123008 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 22 | 5800-1700-9800-7755 | Credit Card        |        123006 |                          |                        |                -9000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 23 | 5890-1970-7706-8912 | Add-on Credit Card |        123006 |                          |                        |               -11000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 24 | 4000-1956-3456      | SAVINGS            |        123001 |                          |                        |                -2000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 25 | 5000-1700-3456      | RECURRING DEPOSITS |        123001 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 26 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -6000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 27 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -4000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 28 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -3000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 29 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                -1600 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 30 | 4000-1956-2001      | SAVINGS            |        123002 |                          |                        |                23000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 31 | 5000-1700-5001      | RECURRING DEPOSITS |        123002 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 32 | 4000-1956-2900      | SAVINGS            |        123003 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 33 | 5000-1700-6091      | RECURRING DEPOSITS |        123004 |                          |                        |                40000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 34 | 4000-1956-3401      | SAVINGS            |        123004 |                          |                        |                 8000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 35 | 4000-1956-5102      | SAVINGS            |        123005 |                          |                        |                -6500 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 36 | 4000-1956-5698      | SAVINGS            |        123006 |                          |                        |                -9000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 37 | 5000-1700-9800      | SAVINGS            |        123007 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 38 | 4000-1956-9977      | RECURRING DEPOSITS |        123007 |                          |                        |                50000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 39 | 9000-1700-7777-4321 | Credit Card        |        123007 |                          |                        |                -8000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 40 | 9000-1700-7777-4321 | Credit Card        |        123007 |                          |                        |                -5000 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 41 | 9000-1700-7777-4321 | Credit Card        |        123007 |                          |                        |                -2500 |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 42 | 5900-1900-9877-5543 | Add-on Credit Card |        123007 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+
| 43 | 5000-1700-7755      | SAVINGS            |        123008 |                          |                        |                  nan |
+----+---------------------+--------------------+---------------+--------------------------+------------------------+----------------------+

In [ ]:

# 10) Display all saving account holders have Add-on Credit Cards" and Credit cards" (3 Rows)
query = """
SELECT
    c.Customer_id,
    c.Customer_name,
    GROUP_CONCAT(a.Account_Number) AS Account_Numbers
FROM Bank_Customer c
JOIN Bank_Account_Detail2 a
      ON c.Customer_id = a.Customer_id
WHERE a.Account_type IN ('SAVINGS', 'Credit Card', 'Add-on Credit Card')
GROUP BY c.Customer_id, c.Customer_name
"""
result = pd.read_sql_query(query, conn)
print(tabulate(result, headers='keys', tablefmt='grid'))

+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|    |   customer_id | customer_name   | Account_Numbers                                                                                               |
+====+===============+=================+===============================================================================================================+
|  0 |        123001 | Oliver          | 4000-1956-3456,4000-1956-3456                                                                                 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|  1 |        123002 | George          | 4000-1956-2001,4000-1956-2001                                                                                 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|  2 |        123003 | Harry           | 4000-1956-2900,4000-1956-2900                                                                                 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|  3 |        123004 | Jack            | 4000-1956-3401,4000-1956-3401                                                                                 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|  4 |        123005 | Jacob           | 4000-1956-5102,4000-1956-5102                                                                                 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|  5 |        123006 | Noah            | 5800-1700-9800-7755,5890-1970-7706-8912,4000-1956-5698,5800-1700-9800-7755,5890-1970-7706-8912,4000-1956-5698 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|  6 |        123007 | Charlie         | 5000-1700-9800,9000-1700-7777-4321,5900-1900-9877-5543,5000-1700-9800,9000-1700-7777-4321,5900-1900-9877-5543 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+
|  7 |        123008 | Robin           | 5000-1700-7755,5000-1700-7755                                                                                 |
+----+---------------+-----------------+---------------------------------------------------------------------------------------------------------------+

In [ ]:
# 11)  Display  records of SAVINGS account linked with Credit cards" account_type and its credit
# aggregate sum of transaction amount. (1 Row)
# Ref: Check linking relationship in bank_transaction_relationship_details.
        # Check transaction_amount in bank_account_transaction.


query = """
SELECT
    a.Account_Number,
    SUM(t.Transaction_amount) AS TOTAL_SUM
FROM Bank_Account_Detail2 a
JOIN Bank_Account_Transaction1 t
    ON a.Account_Number = t.Account_Number
JOIN BANK_ACCOUNT_Relationship_Detail r
    ON a.Account_Number = r.Linking_Account_Number
WHERE a.Account_type = 'SAVINGS'
  AND r.Account_type = 'Credit Card'
GROUP BY a.Account_Number;
"""

result11 = pd.read_sql_query(query, conn)
print(tabulate(result11, headers="keys", tablefmt="grid"))

+----+------------------+-------------+
|    | Account_Number   |   TOTAL_SUM |
+====+==================+=============+
|  0 | 4000-1956-5698   |      -27000 |
+----+------------------+-------------+